.sidebar {
    text-align: start;
    margin-top: 1rem;


    .btn-theme {
        display: flex;
        justify-content: left; 
        font-size: 1rem;

        i {
            width: 5%;
            color: var(--color-gray-600);
        }

        span {
            margin-left: 8px;
        }
    }

    .btn-transparent {
        justify-content: start;

        i {
            width: 5%;
            color: var(--color-gray-600);
        }
    }
}
