
@attribute [StreamRendering] 

@using BlazorWebbApp.Data
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject AuthenticationStateProvider AuthenticationState

 @if (user == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <AuthorizeView>
        <Authorized>
            <div class="profile">
                <div class="content">
                    <img src="/images/profileimage.svg" alt="profile image">

                    <h5>@user.FirstName @user.LastName</h5>
                    <p>@user.Email</p>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
}


@code {

    private ApplicationUser? user;


    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(20);
        var authState = await AuthenticationState.GetAuthenticationStateAsync();
        var userPrincipal = authState.User;

        if(userPrincipal.Identity != null && userPrincipal.Identity.IsAuthenticated)
        {
            user = await UserManager.GetUserAsync(userPrincipal);
        }
    }
}