.profile {
    display: flex;
    justify-content: center;

    .btnAndimageContainer {
        position: relative;

        .input-file {
            display: none;
        }

        .imageContainer {
            border: 1px solid var(--color-gray-200);
            border-radius: 50%;
            width: 120px;
            height: 120px;
            display:flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    h5 {
        margin-top: 1rem;
    }

    p {
        color: var(--color-gray-700);
        margin-top: 0.2rem;
    }
}
