.profile {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: center;
}
.profile .content {
  padding: 3rem;
}
.profile img {
  max-width: 100%;
  max-height: 100%;
}
.profile h5 {
  margin-top: 2rem;
}
.profile p {
  color: var(--color-gray-700);
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}
