footer {
  padding-top: 2rem;
}
footer .container {
  text-align: center;
}
footer .container .socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
