.header {
  padding: 15px 0;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 5rem;
}
@media (min-width: 992px) {
  .header {
    margin-bottom: 0rem;
  }
}
.header .container {
  display: grid;
  align-items: center;
  grid-template-columns: auto 2fr auto;
  grid-template-areas: "logo menu buttons";
  gap: 40px;
}
@media (min-width: 992px) {
  .header .container {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo menu switch buttons";
  }
}
.header .container .logo {
  grid-area: logo;
}
.header .container .menu {
  grid-area: menu;
}
.header .container .menu nav {
  display: flex;
  gap: 15px;
}
.header .container .btn-switch {
  grid-area: switch;
  display: none;
}
@media (min-width: 992px) {
  .header .container .btn-switch {
    display: block;
  }
}
.header .container .account-buttons {
  grid-area: buttons;
  gap: 15px;
  display: flex;
}
.header .container .account-buttons .profile .profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-gray-200);
  height: 3.5rem;
  width: 3.5rem;
  overflow: hidden;
  border-radius: 50%;
}
