@page "/account/notifications"

<AccountInfoComponent />

<section>
     <form class="notificationForm">

          <div class="headlinesNotifications">
              <h2 class="h2">Notifications</h2>
              <span class="success">Data was updated successfully</span>
           </div>                 

                <div class="PreferredEmail">
                    <b>Preferred email for notification</b>
                    <div class="input input-theme input-notification"><input placeholder="Enter Preferred email" /></div>
                </div>

                <div>
                    
                    <div class="btn-switchContainer">
                        <div class="btn-switch">
                            <label class="switch" for="switch-mode-subscribe">
                                <input type="checkbox" class="switch-mode" />
                                <div class="slider round"></div>    
                            </label>
                        </div>
                        <div class="btn-switchContainer-text">
                            <b>Subscribe to Newsletter</b>
                            <p>Nec, posuere non felis duis massa vitae aliquet interdum scelerisque. Neque ullamcorper.</p>
                        </div>
                    </div>
    
                    <div class="btn-switchContainer" >
                        <div class="btn-switch">
                            <label class="switch" for="switch-mode-dark">
                                <input type="checkbox" class="switch-mode" />
                                <div class="slider round"></div>    
                            </label>                    
                        </div>
                        <div class="btn-switchContainer-text">
                            <b>Use Dark Mode Theme in Application</b>
                            <p>Tortor massa porttitor enim tristique neque fermentum sed.</p>
                        </div>   
                    </div>
                </div>               
                <div class="btnContainer">
                    <button class="btn btn-gray">Cancel</button>
                    <button class="btn btn-theme">Save changes</button>
                </div>
            </form>
    </section>

@code {

}
