//Mobil First
@media(min-width: 10px) {
    .notificationForm {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        .headlinesNotifications {
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;

            .h2 {
                margin: 0;
            }
        }

        .btn-switchContainer {
            padding-block: 0.5rem;

            .btn-switchContainer-text {
                padding-top: 0.5rem;
                padding-bottom: 1rem;
            }
        }

        .btnContainer {
            display: flex;
            justify-content: left;
            gap: 1rem;
            padding-block: 1rem;
        }
    }
}

//768px
@media(min-width: 768px) {
    .notificationForm {

        .input-notification {
            max-width: 50%;
        }

        .headlinesNotifications {
            display: grid;
            grid-template-columns: auto suto auto auto;
            column-gap: 2rem;
            align-items: center;
            text-align: left;

 
        }

        .btn-switchContainer {
            display: flex;
            padding-block: 0;

            .btn-switchContainer-text {
                padding: 0;
                padding-top: 1.5rem;
                padding-left: 2rem;
            }
        }

        .btnContainer {
            display: flex;
            justify-content: left;
            gap: 1rem;
            padding-block: 1rem;
            margin-top: 8rem;
        }
    }
}